<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.propertyfinder">

<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.INTERNET" />

<application
    android:allowBackup="true"
    android:icon="@drawable/property"
    android:label="Property Finder"
    android:roundIcon="@drawable/property"
    android:supportsRtl="true"
    android:theme="@style/Theme.PropertyFinder"
    android:usesCleartextTraffic="true"
    tools:targetApi="m">
    <activity
        android:name=".ui.PropertyDetailActivity"
        android:exported="true" />
    <activity
        android:name=".ui.AddPropertyActivity"
        android:exported="true" />
    <activity
        android:name=".ui.LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".ui.CreateAccountActivity"
        android:exported="true" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.LoginActivity" />
    </activity>

    <activity
        android:name=".ui.MainActivity"
        android:exported="true" />
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="com.app.propertyfinder.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths"/>
    </provider>
</application>

</manifest>